# Installed to /etc/cloud/cloud.cfg.d/ during provisioning (adapted from
# cirruslabs/linux-image-templates' 99_cirruslabs.cfg).
#
# We can't disable cloud-init entirely because we'd lose the growpart
# functionality (auto-growing the partition when the disk is resized),
# so disable all data sources instead.
datasource_list: [ None ]

ssh_pwauth: true

# Since data sources are disabled above to speed up booting, the DHCP
# identifier fix from "network-config" has to be provided here instead.
network:
  version: 2
  ethernets:
    all:
      match:
        name: en*
      dhcp4: true

      # Work around macOS DHCP server treating "hw_address" and "identifier" fields
      # in /var/db/dhcpd_leases the same way and putting client identifier (which is
      # a DUID/IAID) into the "hw_address" field, making it impossible to locate the
      # corresponding entry given a MAC-address in "tart ip".
      dhcp-identifier: mac
